#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        BT1 {
            bindings = <&bt BT_PRV>;
            key-positions = <6 5 7>;
        };

        BT2 {
            bindings = <&bt BT_NXT>;
            key-positions = <6 7 8>;
        };

        Ex {
            bindings = <&kp EXCLAMATION>;
            key-positions = <3 4>;
        };

        shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <38 39>;
        };

        control {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <41 40>;
        };

        click1_Ons {
            bindings = <&mkp MB1>;
            key-positions = <6 18>;
        };

        click2_Ons {
            bindings = <&mkp MB2>;
            key-positions = <8 20>;
        };

        click3_Ons {
            bindings = <&mkp MB3>;
            key-positions = <7 19>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q           &kp W      &kp E         &kp R                        &kp T                                                      &kp Y         &kp U  &kp I      &kp O    &kp P
&kp A           &kp S      &kp D         &kp F                        &kp G          &kp PRINTSCREEN             &kp MINUS       &kp H         &kp J  &kp K      &kp L    &kp SQT
&kp Z           &kp X      &kp C         &kp V                        &kp B          &kp SEMICOLON               &kp COLON       &kp N         &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &lt_to_layer_0 1 LANGUAGE_2  &kp BACKSPACE  &lt_to_layer_0 2 SPACE      &kp LANGUAGE_1  &kp KP_ENTER                             &to 6
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        FUNCTION_Number {
            bindings = <
&kp ESC  &kp F1  &kp F2   &kp F3   &kp F4                       &kp PLUS      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS
&none    &kp F5  &kp F6   &kp F7   &kp F8   &trans      &none   &kp ASTERISK  &kp NUMBER_4  &kp NUMBER_5  &kp N6        &kp SLASH
&none    &kp F9  &kp F10  &kp F11  &kp F12  &none       &none   &kp NUMBER_0  &kp N7        &kp N8        &kp N9        &kp DOT
&none    &none   &none    &trans   &trans   &trans      &trans  &trans                                                  &none
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        NUM_Arrow {
            bindings = <
&kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp HASH   &kp DOLLAR  &kp PERCENT                                           &kp LG(LS(LEFT))       &kp LS(LC(TAB))  &kp UP_ARROW    &kp LS(LC(TAB))  &kp LG(LS(RIGHT))
&kp AMPERSAND    &kp SQT            &kp MINUS  &kp CARET   &kp AT_SIGN  &trans             &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT         &kp DOWN_ARROW  &kp RIGHT        &none
&kp SEMICOLON    &kp COLON          &kp COMMA  &kp PERIOD  &kp SLASH    &kp BACKSLASH      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none            &none           &none            &none
&none            &none              &none      &trans      &trans       &trans             &trans                &trans                                                                   &none
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        ARROW_89 {
            bindings = <
&kp ESCAPE  &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &none                        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none  &none  &none
&kp HOME    &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &none       &none   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none  &none  &none
&none       &kp LG(LS(LEFT_ARROW))  &none           &kp LG(LS(RIGHT_ARROW))  &none    &none       &none   &none                 &none                  &none  &none  &none
&none       &none                   &none           &trans                   &trans   &trans      &trans  &trans                                                     &none
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;

            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        layer_6_Onishi {
            bindings = <
&kp Q           &kp L      &kp U         &kp COMMA         &kp PERIOD                                     &kp F         &kp W  &kp R  &kp Y  &kp P
&kp E           &kp I      &kp A         &kp O             &kp MINUS      &kp PRINTSCREEN      &kp MINUS  &kp K         &kp T  &kp N  &kp S  &kp H
&kp Z           &kp X      &kp C         &kp V             &kp SLASH      &kp SEMICOLON        &kp COLON  &kp G         &kp D  &kp M  &kp J  &kp B
&kp LEFT_SHIFT  &kp RCTRL  &kp LEFT_ALT  &lt 1 LANGUAGE_2  &kp BACKSPACE  &lt 2 SPACE          &kp LANG1  &kp KP_ENTER                       &to 0
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };
    };
};
